.game-memory{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.game-memory-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    block-size: auto;
    text-align: center;
    background-color: #000000;
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

}