.results {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0; 

}

.results-content {
    padding: 1rem 2rem;
    background-color: #333;
    border-radius: 1rem;
    text-align: center;
}

.results-open {
    opacity: 1;
    visibility: visible;
}