
.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 40%;
    margin: 0 auto;
}

.player1 {
    display: flex;
    background-color: rgb(154, 161, 226);
    justify-content: center;
    width: 8rem;
    position: relative;
    left: 0;
    font-size: 1.1rem;
}

.player2 {
    display: flex;
    background-color: rgb(154, 226, 154);
    justify-content: center;
    width: 8rem;
    position: relative;
    right: 0;
    font-size: 1.1rem;
}

.currentPlayer {
    background-color: #d18383;
    color: white;
    font-size: 1.6rem;
}

.scoreboard .title {
    background-color: blue;
    display: flex;
}

.points {
    display: flex;
    gap: 1rem;
    /* padding: 1rem 0 ; */
}